<html>
<head>
    <title>[% config.app.name %]</title>
</head>
<body>

    <h3>Reporty</h3>

    <div id="content" style="font-family: Arial, non-serif; font-size: 13px; line-height: 1.5; max-width: 600px">

           [% content %]

    </div>
        
    <div style="width: 100%; font-size: 11px; color: #666; padding: 5px 0;">
        <p>Reporty</p>
    </div>            
 
</body>
</html>
