<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
    
        <title>[% Catalyst.config.app.name %]</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        [%  INCLUDE "framework/css.tt2" %]            
    </head>
    <body>

        <div class="container" id="header"> 
            
            <div class="row" id="headerblock"> 


                <div class="fivecol" id="logoblock"> 
                    <h1>Reporty</h1> 
                    <h3>mysql reporting tool</h3>
                </div> 
 
                <div class="sevencol last" id="toolblock"> 

                    [% IF sidebar %]
                        [% INCLUDE $sidebar %]
                    [% END %]

                </div> 

            </div>

        </div> 

        <div class="container">
            [% INCLUDE "elements/messages.tt2" %]
        </div>


        <div class="container" id="content">
            [% content %]   
        </div>

        <div class="container" id="footer"> 
            
            <div class="row"> 

                <div class="twelecol">

                </div>
 
            </div> 
 
        </div>   
    

        [% INCLUDE 'framework/js.tt2' %]
        [% js %]

    </body>

</html>
